.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 20px;
    padding: 30px 10px;
}

.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: fit-content;
    width: 18%;
}

.cardImage {
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 0 0 var(--main-element-color);
}

.cardRating {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: var(--active-element-color);
    border-radius: 10px;
}

.cardMessageContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--modal-container-color);
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.cardContainer:hover .cardMessageContainer {
    opacity: 1;
}

.cardMessage {
    color: var(--alter-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;

}

