/*----------------------- search ------------------------------ */

.searchContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: var(--background-element-color);
    background-image: url(../../assets/cross.svg);
    background-size: 34px;
    background-position: center;
    box-shadow: 0 10px 10px -10px var(--main-text-color);
    transition: 0.3s;
}

.searchContainer:hover {
    background-size: 37px;
}

.searchInput {
    width: 50%;
    height: 35px;
    padding: 0 10px;
    font-size: 1.3rem;
    border: 2px solid var(--main-element-color);
    border-radius: 15px 0 0 15px;
}

.searchButton {
    width: 20%;
    font-size: 1.3rem;
    background-color: var(--main-element-color);
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.searchButton:hover {
    color: var(--alter-text-color);
    background-color: var(--alter-element-color);
}

/*----------------------- search errors ------------------------------ */

.noCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.noCardsText {
    width: 70%;
    text-align: center;
}